<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.javaboy.ioc.DataSource" id="ds,ds1,ds2" scope="prototype">
        <property name="url" value="jdbc:mysql:///vhr"/>
        <property name="username" value="111"/>
        <property name="password" value="111"/>
    </bean>
<!--    <beans profile="dev">
        <bean class="org.javaboy.ioc.DataSource" id="devDs" scope="prototype">
            <property name="url" value="jdbc:mysql:///vhr"/>
            <property name="username" value="root"/>
            <property name="password" value="123"/>
        </bean>
    </beans>
    <beans profile="prod">
        <bean class="org.javaboy.ioc.DataSource" id="prodDs" scope="prototype">
            <property name="username" value="root"/>
            <property name="password" value="jklsd3"/>
            <property name="url" value="jdbc:mysql://56.36.12.32:3306/vhr"/>
        </bean>
    </beans>-->
</beans>